<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <div>SkeletonAPP</div>
      <small style="font-size: 0.6em; font-weight: normal; display: block; opacity: 0.85; margin-top: 2px;">
        Aquí encontraras de todo
      </small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-justify-content-center">
  <div>
    
    <div class="ion-text-center ion-margin-bottom">
      <h2>Bienvenido</h2>
    </div>

    <ion-item lines="none" class="custom-input">
      <ion-input 
        label="Usuario" 
        label-placement="stacked" 
        type="text" 
        placeholder="Ej: juan321"
        minlength="3"
        maxlength="8"
        [(ngModel)]="user.usuario">
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="custom-input ion-margin-top">
      <ion-input 
        label="Password" 
        label-placement="stacked" 
        type="password" 
        placeholder="••••"
        maxlength="4"
        inputmode="numeric"
        [(ngModel)]="user.password">
      </ion-input>
    </ion-item>

    <div class="ion-margin-top">
      <ion-button 
        expand="block" 
        shape="round" 
        color="primary"
        (click)="ingresar()">
        Ingresar
      </ion-button>
    </div>

  </div>
</ion-content>