<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left" #tituloHome>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-bottom">
    <h2>Información Adicional</h2>
  </div>

  <ion-item #inputNombre>
    <ion-input 
      label="Nombre" 
      label-placement="stacked" 
      type="text" 
      placeholder="Ingrese Nombre"
      [(ngModel)]="nombre">
    </ion-input>
  </ion-item>

  <ion-item #inputApellido>
    <ion-input 
      label="Apellido" 
      label-placement="stacked" 
      type="text" 
      placeholder="Ingrese Apellido"
      [(ngModel)]="apellido">
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-select 
      label="Nivel de Educación" 
      label-placement="stacked" 
      placeholder="Seleccione Nivel"
      [(ngModel)]="educacion">
      <ion-select-option value="Basica">Educación Básica</ion-select-option>
      <ion-select-option value="Media">Educación Media</ion-select-option>
      <ion-select-option value="Superior">Educación Superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin-top">
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 10px;">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" placeholder="Selecciona una fecha" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </ion-item>

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="light" shape="round" (click)="limpiarCampos()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="primary" shape="round" (click)="mostrarAlerta()">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>